//--Подключение файлов--
@import "vars";
@import "null";
@import "libs";
@import "fonts";
@import "mixins";
// --
// ==Style==
// --Main markup--
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.container{
    max-width: 1190px;
    padding: 0px 15px;
    margin: 0 auto;
}
//--
// --Header--
.header{
    width: 100%;
    z-index: 10;
    &__row{
        @include flexbox();
        background-color: #ffffff;
        padding-top: 17px;
        padding-bottom: 11px;
        align-items: center;
    }
    &__logo{
        flex-grow: 0.5;
        &-link{
            color: #040404;
            font-family: $fontfamily;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.15px;
        }
    }
    &__content{
        flex-grow: 8;
        &-info{
            color: #000000;
            font-family: $fontfamily;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
        }
    } 
    &__tel{  
        flex-grow: 0.5;
        &-link{
            color: #000000;
            font-family: $fontfamily;
            font-size: 35px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
        }
    }
    &__button{
        &-input{
            padding: 10px;
            color: #ffffff;
            font-family: $fontfamily;
            font-size: 13px;
            font-weight: 700;
            background: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
            border-radius: 5px;
        }
    }
    }
.menu {
    &__icon{

    }
    &__body{

    }
    &__link{
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        font-family: $fontfamily;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }

}
.nav{
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
    position: relative;
    &__row{
        @include flexbox();
        justify-content: center;
        align-items: center;
        padding-top: 13px;
        padding-bottom: 10px;
    }
    &__menu{
        span {

        }
    }
}
.icon-menu{

}
.menu{
    &__list{
        @include flexbox();
        justify-content: center;
        align-items: center;
    }
    li {
        position: relative;
        color: #ffffff;
        font-family: $fontfamily;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 0 64px;
        border-left: 1px solid #ffffff;
        &:first-child{
           border: none;
        }
    }
    &__link{
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }
}
.slider{
    position: relative;
    &__shape{
        background: url(../img/shape.png);
    }
    &__head{
        &-rectangle{
            width: 662px;
            height: 125px;
            transform: skew(-16deg);
            background-color: #ffffff;
            opacity: 0.7;
            margin-top: 80px;
            margin-left: 335px;
            margin-bottom: 8px;
        }
    }
    &__heading{
        color: #000000;
        font-family: $intro;
        font-size: 90px;
        font-weight: 400;
        line-height: 68.62px;
        text-transform: uppercase;
        letter-spacing: -1.55px;
        padding: 23px 45px;
        z-index: 5;
    }
    &__img{
        max-width: 100%;
        height: 100vh;
        position: relative;
        z-index: 1;
    }
    &__item{
        max-width: 100%;
        height: 100vh;
        background: url(../img/bedroom-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &-first{
            max-width: 100%;
            height: 100vh;
            background: url(../img/bedroom-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-second{
            max-width: 100%;
            height: 100vh;
            background: url(../img/guestroom.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-third{
            max-width: 100%;
            height: 100vh;
            background: url(../img/kitchen.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__info{
        display: flex;
        &-rectangle{
            width: 313px;
            height: 70px;
            transform: skew(-16deg);
            background-color: #ffffff;
            opacity: 0.7;
            margin-top: 5px;
            margin-left: 304px;
            margin-right: 12px;
            text-align: center;
            align-items: center;
            padding: 12px;
        }
    }
    &__content{
        color: #000000;
        font-family: $intro;
        font-size: 36px;
        font-weight: 900;
        border-bottom: 3px solid #000000;
        padding-bottom: 9px;
        text-align: center;
        z-index: 5;
    }
    &__price{
        color: #ffffff;
        font-family: $intro;
        font-size: 16px;
        font-weight: 400;
        z-index: 5;
        text-align: center;
        padding-top: 10px;
        & span{
            color: #ffffff;
            font-family: $intro;
            font-size: 45px;
            font-weight: 400;
            padding: 0 25px;
        }
        &-rectangle{
            width: 205px;
            height: 60px;
            transform: skew(-16deg);
            box-shadow: 3px 4px 5px rgba(0,0,0,0.75);
            background-color: #ff5356;
            background-image: linear-gradient(to right, #2aeb2a 0%, #007500 100%);
            margin-top: 10px;
        }
    }
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 40px;
}
.slider .slick-arrow.slick-prev{
    left: 20%;
    top: 50%;
    background: url(../img/left_arrow.svg);
}
.slider .slick-arrow.slick-next{
    right: 69%;
    background: url(../img/right_arrow.svg);
}
.slider .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0;
    width: 65px;
    height: 15px;
    top: 52%;
    left: 24%;
    background: url(../img/dots.svg);
}
//--


//--Подключение медиа-запросов--
@import "media";
//--
