//--Подключение файлов--
@import "vars";
@import "null";
@import "libs";
@import "fonts";
@import "mixins";
// --
// ==Style==
// --Main markup--
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.container{
    max-width: 1190px;
    min-width: $minwidth;
    padding: 0px 15px;
    margin: 0 auto;
}
//--
// --Header--
.header{
    width: 100%;
    z-index: 10;
    &__row{
        @include flexbox();
        background-color: #ffffff;
        padding-top: 17px;
        padding-bottom: 11px;
        align-items: center;
    }
    &__logo{
        flex-grow: 0.5;
        &-link{
            color: #040404;
            font-family: $fontfamily;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.15px;
        }
    }
    &__content{
        flex-grow: 8;
        &-info{
            color: #000000;
            font-family: $fontfamily;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
        }
    } 
    &__tel{  
        flex-grow: 0.5;
        &-link{
            color: #000000;
            font-family: $fontfamily;
            font-size: 35px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
        }
    }
    &__button{
        &-input{
            padding: 10px;
            color: #ffffff;
            font-family: $fontfamily;
            font-size: 13px;
            font-weight: 700;
            background: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
            border-radius: 5px;
        }
    }
    }
.menu {
    &__icon{

    }
    &__body{

    }
    &__link{
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        font-family: $fontfamily;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }

}
.nav{
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
    position: relative;
    &__row{
        @include flexbox();
        justify-content: center;
        align-items: center;
        padding-top: 13px;
        padding-bottom: 10px;
    }
    &__menu{
        span {

        }
    }
}
.icon-menu{

}
.menu{
    &__list{
        @include flexbox();
        justify-content: center;
        align-items: center;
    }
    li {
        position: relative;
        color: #ffffff;
        font-family: $fontfamily;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 0 64px;
        border-left: 1px solid #ffffff;
        &:first-child{
           border: none;
        }
    }
    &__link{
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }
}
.slider{
    position: relative;
    overflow: hidden;
    &__stick{
        width: 55px;
        height: 183px;
        margin: 0 auto;
    }
    &__shape{
        max-width: 100%;
        height: 483px;
        position: absolute;
        z-index: 1;
    }
    &__head{
        &-rectangle{
            background: url(../img/first-shape.png);
            background-repeat: no-repeat;
            width: 613px;
            height: 110px;
            margin-left: 390px;
            margin-right: auto;
            margin-bottom: 10px;
            position: relative;
            z-index: 2;
        }
    }
    &__heading{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #000000;
        font-family: $intro;
        font-size: 90px;
        font-weight: 400;
        line-height: 68.62px;
        text-transform: uppercase;
        letter-spacing: -1.55px;
        padding: 23px 45px;
        z-index: 1;
    }
    &__item{
        display: inline-flex;
        flex-direction: column;
        flex: 0 0 100%;
        max-width: 100%;
        height: 100vh;
        background: url(../img/bedroom-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &-first{
            max-width: 100%;
            height: 100vh;
            background: url(../img/bedroom-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-second{
            max-width: 100%;
            height: 100vh;
            background: url(../img/guestroom.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-third{
            max-width: 100%;
            height: 100vh;
            background: url(../img/kitchen.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__info{
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        &-rectangle{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 294px;
            height: 63px;
            align-items: center;
            background: url(../img/second-shape.png);
            background-repeat: no-repeat;
            margin-left: 369px;
            margin-right: 12px;
            z-index: 1;
        }
    }
    &__content{
        color: #000000;
        font-family: $intro;
        font-size: 36px;
        font-weight: 900;
        border-bottom: 3px solid #000000;
        padding-bottom: 9px;
        text-align: center;
        margin: 0 auto;
        z-index: 1;
    }
    &__price{ 
        color: #ffffff;
        font-family: $intro;
        font-size: 16px;
        font-weight: 400;
        z-index: 5;
        text-align: center;
        padding-top: 10px;
        &-rectangle{
            background: url(../img/green-shape.png);
            background-repeat: no-repeat;
            width: 200px;
            height: 57px;
            margin-top: 10px;
        }
        & span{
            color: #ffffff;
            font-family: $intro;
            font-size: 45px;
            font-weight: 400;
            padding: 0 19px 7px;
        } 
    }
    &__ideas{
        color: #ffffff;
        font-family: $fontfamily;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        padding-top: 25px;
        margin-left: 388px;
    }
    &__link{ 
        &-content{
            position: relative;
            display: flex;
            z-index: 2;
            width: 225px;
            height: 45px;
            color: #ffffff;
            font-family: $fontfamily;
            font-size: 23px;
            font-weight: 700;
            line-height: 25.99px;
            text-transform: uppercase;
            border: 2px solid #ffffff;
            background-color: #ff6666;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#ff4f58), to(#fd7048));
            background-image: -o-linear-gradient(bottom, #ff4f58 0%, #fd7048 100%);
            background-image: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
            margin-left: 390px;
            margin-top: 25px;
            padding-top: 10px;
            padding-left: 14px;
        }
    }
}
.services{
    max-width: 100%;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0.8;
    margin-top: 105px;
    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &__item{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    &__img{
        max-width: 100%;
        width: auto;
    }
    &__heading{
        color: #000000;
        font-family: $fontfamily;
        font-size: 22px;
        font-weight: 700;
        padding-top: 20px;
    }
    &__content{
        color: #000000;
        font-family: $fontfamily;
        font-size: 16px;
        font-weight: 400;
    }
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 40px;
}
.slider .slick-arrow.slick-prev{
    left: 19%;
    top: 44%;
    background: url(../img/left_arrow.svg);
}
.slider .slick-arrow.slick-next{
    top: 44%;
    right: 68.5%;
    background: url(../img/right_arrow.svg);
}
.slider .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0;
    width: 65px;
    height: 15px;
    top: 46.5%;
    left: 24%;
    background: url(../img/dots.svg);
}
//--


//--Подключение медиа-запросов--
@import "media";
//--
